/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2023, 12:26:48 AM
    Author     : Erwin_Yoga
*/

body {
    text-align: center; /* Center text */
}

form {
    margin: 0 auto; /* Center form */
    width: fit-content; /* Adjust width to content */
}

table {
    margin: 0 auto; /* Center table */
}

.table-2 {
    width: 100%;
    border-collapse: collapse;
}

.order-list-table th, .order-list-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.order-list-table th {
    background-color: #f2f2f2;
}

.inline-button-group {
    display: inline-block; /* Align buttons in a row */
}

.register-button-group {
    margin: 0 5px; /* Spacing between buttons */
    padding: 10px 20px; /* Increase padding */
    font-size: 15px; /* Larger font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to hand on hover */
    text-decoration: none; /* Removes underline from links */
}

.active {
    background-color: #FF66CC; /* Pink color for the active state */
    color: white;
}

.inactive {
    background-color: white;
    color: black;
    border: 1px solid #FF66CC; /* Pink border for inactive state */
}

.back-button {
            border: 1px solid #000; /* Add border */
            padding: 5px 10px; /* Add padding for better appearance */
            text-decoration: none; /* Remove underline */
            color: #000; /* Text color */
            position: absolute; /* Set the position to absolute */
            left: 20px; /* Adjust the left position to place it on the left side */
        }


