/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2023, 12:46:26 AM
    Author     : Erwin_Yoga
*/

.dashboard-container {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    background-color: #27632a;
    padding: 20px;
    gap: 10px;
}

.dashboard-link {
    background-color: #27632a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dashboard-link:hover, .dashboard-link.active {
    background-color: #1b4721;
}

.dashboard-content {
    flex-grow: 1;
    padding: 20px;
}

.logout-button {
    background-color: #e53935;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dashboard-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

