/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2023, 1:18:06 AM
    Author     : Erwin_Yoga
*/

body {
    font-family: Arial, sans-serif;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-form {
    margin: 0;
}

.logout-button {
    background-color: #f00; /* Red color, change as needed */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.grid-item {
    background-color: #008000; /* Green color */
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.reports-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.report-item {
    background-color: #008000; /* Green color */
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    margin-right: 10px;
}

.report-item:last-child {
    margin-right: 0;
}

footer {
    text-align: center;
}