/EnterpriseApplication/nbproject/private/
/EnterpriseApplication/EnterpriseApplication-war/nbproject/private/
/EnterpriseApplication/EnterpriseApplication-ejb/nbproject/private/
/EnterpriseApplication/EnterpriseApplication-ejb/build/
/EnterpriseApplication/EnterpriseApplication-ejb/dist/
/EnterpriseApplication/EnterpriseApplication-war/build/
/EnterpriseApplication/build/
/EnterpriseApplication/EnterpriseApplication-war/dist/
/EnterpriseApplication/dist/